<mat-sidenav-container fxFlexFill class="container" fxShow="true">
  <mat-sidenav
    class="inner-container"
    color="primary"
    fxLayout="column"
    mode="over"
    position="end"
    [opened]="isDrawerOpen"
    (closed)="(toggleDrawer)"
  >
    <nav fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <a (click)="toggleDrawer()" routerLink="/"><h2>May Do</h2></a>
        <button mat-icon-button (click)="toggleDrawer()">
          <mat-icon
            fontSet="fa"
            class="close-icon"
            fontIcon="fa-xmark"
          ></mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <a mat-button (click)="toggleDrawer()" routerLink="/">Home</a>
      <a mat-button (click)="toggleDrawer()" routerLink="/about">About</a>
      <a mat-button (click)="toggleDrawer()" routerLink="/resume">Resume</a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
