a {
  padding: 0.5rem;
  text-align: left;
  text-decoration: none;
  outline: none;
}

h2 {
  color: black;
}

.inner-container {
  min-width: 50vw;
  padding: 1rem 1.5rem;
}

.close-icon {
  font-size: 1.5rem;
  margin: auto;
}

.spacer {
  flex: 1 1 auto;
}
