.footer {
  padding: 1rem;
  background-color: var(--secondary-color);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  margin-bottom: 0;
}

.soc-icon {
  font-size: 1.7rem;
}
