<div fxLayout="row" fxLayoutAlign="space-between start" class="footer">
  <a routerLink="/"><h1>May Do</h1></a>
  <div fxLayout="row" fxLayoutGap="1.5rem" fxLayoutAlign="center center">
    <a mat-icon-button href="https://github.com/MayTD">
      <mat-icon fontSet="fa" class="soc-icon" fontIcon="fa-github"></mat-icon>
    </a>
    <a mat-icon-button href="https://www.linkedin.com/in/may-do/">
      <mat-icon fontSet="fa" class="soc-icon" fontIcon="fa-linkedin"></mat-icon>
    </a>
  </div>
</div>
