<div
  fxLayout="column"
  fxLayoutAlign="center start"
  fxLayoutGap="2rem"
  class="container"
>
  <div
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="space-between start"
    fxLayoutGap=".5rem"
    fxFill
  >
    <h1>Summary of my work</h1>
    <a mat-raised-button href="../../assets/May Do Resume.pdf" download>
      Download CV</a
    >
  </div>
 <div *ngFor="let detail of details | keyvalue: originalOrder">
  <div>
    <h2>{{detail.key.charAt(0).toUpperCase()
      + detail.key.slice(1)}}</h2>
      <app-list [sectionTitle]="detail.key" *ngFor="let listItem of detail.value" [list]="listItem"> </app-list>
  </div>
 </div>

 
</div>
