<div fxLayout="column" class="container">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="center center"
    class="titlecard"
  >
    <div fxLayout="column" fxFlexOrder.xs="2">
      <h1>Hi! I'm May.</h1>
      <h3>I'm a developer. Get to know me and check out some of my work!</h3>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
        <a mat-raised-button href="../../assets/May Do Resume.pdf" download>
          Download CV</a
        >
        <a mat-raised-button routerLink="/about">Contact Me</a>
      </div>
    </div>
    <img src="../../assets/img/maytd.png" />
  </div>

  <div
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="center center"
    fxLayoutGap="2rem"
    class="showcase"
  >
    <div fxLayout="column" fxLayoutGap="2rem">
      <app-card
        *ngFor="let card of cardsList.slice(0, cardsList.length / 2)"
        [card]="card"
      >
      </app-card>
    </div>
    <div fxLayout="column" fxLayoutGap="2rem">
      <app-card
        *ngFor="
          let card of cardsList.slice(cardsList.length / 2, cardsList.length)
        "
        [card]="card"
      >
      </app-card>
    </div>
  </div>
</div>
