.titlecard {
  min-height: 50vh;
  padding: 3rem 2rem 6rem;
  background-color: var(--primary-color);
}

.showcase {
  padding: 4rem 2rem;
}

h1,
h3 {
  color: white;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
}

a:not(:first-child) {
  color: white;
  background-color: var(--secondary-color);
}

.titlecard img {
  max-height: 500px;
  height: auto;
  width: 100%;
  max-width: 500px;
  padding: 3rem;
}
